################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/FirstWebApp/FirstWebApp/bin
/FirstWebApp/FirstWebApp/obj/Debug
/FirstWebApp/packages
/FirstWebApp/.vs/config/applicationhost.config
